{% load url from future %}
<script>
    $('#change-password-form').submit(function(){
        $.post($(this).attr('action'), $(this).serializeArray(), function(data){
            if(data == 'succesful'){
                //TO-DO: make a better way to change the password
                //get data from django.contrib.auth.views.password_change_done
                $('#change-password-div').load('{% url 'django.contrib.auth.views.password_change' %}');
                $('#main').append(data)
            }
            else
                $('#change-password-div').html(data);
            return false;
        });
        return false;
    });
</script>
<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}" id="change-password-form">
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" name="submit" value="Change">
    <input type="reset" name="submit" value="Reset">
</form>