{% extends 'index.html' %}
{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/django-validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/register.js"></script>
{% endblock %}
{% block content %}
    <div id="main_holder" class="clearfix">

        	<div id="content">

            <div id="about">
                <div id="bubble_corner"><!--bubble corner--></div>
                <h2>Welcome to the next level of fun and social networking.</h2><h4>But wait, there's <a href="#">more</a></h4>
            	<div id="about_text">We will update this</div>
            </div>

            <div id="animations_map">

            </div>

            <div id="tour">
            <div id="tour_info"><h2>Still having doubts?</h2> <a href="#">Take the tour <img src="{{ STATIC_URL }}img/tour/route.png" alt="route" /></a></div>

                <div id="tour_icons">

                	<div id="phone"></div>
                    <div id="compass"></div>
                    <div id="coin"></div>
                    <div id="checkin"></div>
                    <div id="dollar"></div>

                </div>

            </div>

            </div>

            <div id="connect">

                <div id="drop1">

                	<div id="login">
                    <button class="connect_button" id="login_button">login</button>

                    </div>

                	<div id="login_register">

                    	<ul id="login_form">

                        	<form action="{% url account.views.login %}" method="POST" id="login-form">{% csrf_token %}
                                    <div id="general" class="error"></div>

                                    <li><label for="username" class="label">username:</label></li>
                                    <li><input type="text" id="username" name="username" class="input"/></li>
                                    <li><label for="password" class="label">password:</label></li>
                                    <li><input type="password" id="password" name="password" class="input" /></li>
                                    <li><input type="submit" value="login" class="submit" /></li>

                            </form>

                        </ul>

                        <div id="register_hide">

                            <p>not a player yet?<br/>
        don't miss out on the fun</p>

                            <button class="connect_button" id="sign_up_button">sign up</button>

                            <p>it's free and easy</p>

                        </div>

                    </div>

               	 </div>

                <div class="sep1_a"></div>

                <div id="sign_up_dropdown">

           		<div id="drop2">

                <p id="easy_way">the easy way</p>

                <button id="facebook_button" onclick="window.location='/facebook/login'">Login via Facebook</button>
                       
                <div id="or"></div>

                <button id="google_button">sign up with google</button>

                </div>
                <div id="sep2"></div>
                <div id="drop3">

                 <p id="hard_way">the hard way</p>
                 <p id="quicknpainless">it's quick and painless, we promise</p>

                 <form action="{% url account.views.register %}" id="sign_up_form" method="POST">
                    {% csrf_token %}
                    <div id="general" class="error"></div>
                     
                    <ul>

                        <li><label for="username" class="label">username</label></li>
                        <li><input type="text" id="username" name="username" class="input" /></li>
                        <li><label for="email" class="label">email</label></li>
                        <li><input type="text" id="email" name="email" class="input" /></li>
                        <li><label for="password" class="label">password</label></li>
                        <li><input type="password" id="password" name="password" class="input" /></li>
                        <li><label for="re_password" class="label">re-type password</label></li>
                        <li><input type="password" id="re_password" name="re_password" class="input" /></li>
                        <li><label for="location" class="label">location</label></li>
                        <li><input type="text" id="location" name="location" class="input" /></li>
                        <li><input type="submit" value="sign me up!!" class="submit" /></li>

                    </ul>

                </form>

                </div>

                <div id="sep3"></div>

                </div>

            </div>

            <div id="mobile_app_downloads">

            	<ul id="mobile_app_downloads_list">
                	<li>

                    <h2>no <b>checkins</b>, no <b>fun</b>...</h2>
                    <h3>get yourself the mobile app</h3>

                    </li>
                    <li><a href="{{ STATIC_URL }}android/outclan.apk"><img src="{{ STATIC_URL }}img/mobile_app/android.png" alt="Outclan Android Application Download" /></a></li>
                    <li><img src="{{ STATIC_URL }}img/mobile_app/apple_iphone.png" alt="Outclan Apple Iphone Application Download" /></li>
                    <li><img src="{{ STATIC_URL }}img/mobile_app/blackberry.png" alt="Outclan Blackberry Application Download" /></li>
                </ul>

            </div>

        </div>
    <div id="login-div" style="display:none">
        <form action="{% url account.views.login %}" method="POST" id="login-form">{% csrf_token %}
            <div id="general" class="error"></div>
            <ul id="login_list">
                <li><label for="username">Username</label></li>
                <li><input type="text" id="username" name="username"/></li>
                <li><label for="password">Password</label></li>
                <li><input type="password" id="password" name="password"/></li>
                <li><button id="modal_login_button">Login</button></li>
                <li>or</li>
                <li>Login with Facebook / Google</li>
            </ul>
        </form>
    </div>
{% endblock %}



        