{% extends 'index.html' %}
{% block header %}
     <button id="login_button">Login</button>

    <div id="login_modal" class="clearfix">
    <div id="login_header" class="clearfix"><img src="{{ STATIC_URL }}img/logo_small.png" alt=""/><h4>Login</h4></div>
    <div id="login_sub_header" class="clearfix">
Check out what your friends have been doing, and make sure that your enemies are not intending
to conquer any of your lands!
</div>
    <div id="login_content" class="clearfix">

    <form action="{% url django.contrib.auth.views.login %}" method="POST">{% csrf_token %}
    <ul id="login_list">
    <li><label for="username">Username</label></li>
    <li><input type="text" id="username" name="username"/></li>
    <li><label for="password">Password</label></li>
    <li><input type="password" id="password" name="password"/></li>
    <li><button id="modal_login_button">Login</button></li>
    <li>or</li>
    <li>Login with Facebook / Google</li>
    </ul>
    </form>

    <img src="{{ STATIC_URL }}img/illustrations/griddlyzaur.png"/>

    </div>

    <div id="login_footer" class="clearfix">
    <ul>
    <li><a href="#">Don't have an account yet?</a></li>
    <li><a href="#">Lost Password?</a></li>
    <li><a href="#">Is this safe?</a></li>
    </ul>
    </div>

    </div>

    </header>

    <div id="main" role="main" class="clearfix">
	<div><img src="{{ STATIC_URL }}img/map_bg_test.png" alt="map_test"/></div>

        <aside id="register_section">
        <button id="register_button">Register</button>
        </aside>


    <div id="register_modal" class="clearfix">
    <div id="register_header" class="clearfix"><img src="{{ STATIC_URL }}img/logo_small.png" alt=""/><h4>Sign Up</h4></div>
    <div id="register_sub_header" class="clearfix">
	You're seconds away from a new dimension of fun! Griddle takes you, your friends and many more
	into the frenzy of developing strategies to help you grow and defend your own land.
    <span id="register_description_toggle">(More...)</span>

    <span id="register_description">And the beauty of it all is the connection with real life - from the map you play on, to the possibility
	of befriending or avoiding certain people.<br/>You have all reasons to start playing this amazing
	game!</span>
	</div>
    <div id="register_content" class="clearfix">

    <form action="{% url account.views.register %}" id="register-form" method="POST">
        {% csrf_token %}
        <ul id="register_list">
            <li><label for="email">Email</label></li>
            <li><input type="text" id="email" name="email"/></li>
            <li><label for="username">Username</label><span class="register_hint">only letters, numbers, and underscores</span></li>
            <li><input type="text" id="usernamer" name="username"/></li>
            <li><label for="password">Password</label><span class="register_hint">at least 4 characters long</span></li>
            <li><input type="password" id="passwordr" name="password"/></li>
            <li><label for="re-password">Re-Password</label></li>
            <li><input type="password" id="re-password" name="re-password"/></li>
            <li><label for="location">Location</label><span class="register_hint">where in the world are you?</span></li>
            <li><input type="text" id="location" name="location"/></li>
            <li><button id="modal_register_button">Sign Up</button></li>
        </ul>
    </form>

    <img src="{{ STATIC_URL }}img/illustrations/thetwoofthem.png"/>

    </div>

    <div id="register_footer" class="clearfix">
    <ul>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Terms</a></li>
    </ul>
    </div>

    </div>
        <h3 id="game_desc">A game based on earning money by doing check-ins or by owning territories where a lot of check-ins are made and using that money to upgrade your territory, buy more or attack others.
        </h3> 
{% endblock %}