<div id="user_menu">
    <figure id="user_photo"><img src="{{ userprofile.gravatar_url }}?s=26" alt="arghy"/></figure>
    <div id="user_name">Hello,<br/>{{ user.username }}</div>


    <div id="subnav_wrap" class="clearfix">


    <ul id="game_settings">
    <li>Game</li>
    <li>Messages</li>
    <li>Friends</li>
    <li>Battles</li>
    <li>Ceva</li>
    </ul>

    <ul id="account_settings">

        <li>Account</li>
        <li><a href="/profile">Edit Profile</a></li>
        <li>Settings</li>
        <li>Invite</li>


        <li><form action="{% url django.contrib.auth.views.logout_then_login %}"><button>Logout</button></form></li>
    </ul>

    </div>
</div>

<div id="user_notifications_holder"><div id="user_notifications"></div><button id="user_notification">7</button></div>


<nav id="menu">
    <ul id="menu_list">
    <li><a href="#" class="tipsy" title="Game Modes"><img src="{{ STATIC_URL }}img/menu/game_modes.png" /></a></li>
    <li><a href="alliances.html" class="tipsy" title="Alliances"><img src="{{ STATIC_URL }}img/menu/alliances.png" /></a></li>
    <li><a href="ranks.html" class="tipsy" title="Ranks"><img src="{{ STATIC_URL }}img/menu/ranks.png"/></a></li>
    <li><a href="profile.html" title="O sa dispar de aici in curand">Profile</a></li>
    </ul>
</nav>