<div class="alliance_content_news" id="simple-news">
    <input type="hidden" id="news-id" value="{{ news.id }}">
    <div class="alliance_content_news_header clearfix">
        <h2 class="alliance_content_news_title">
           Titlu
        </h2>

        <div class="alliance_content_news_header_autor_data">
            <h4>{{ news.created_at }}</h4>
            <h3>by {{ news.profile.user.username }} </h3>
        </div>
    </div>

      <p class="alliance_content_news_text">
        {{ news.text }}
      </p>
    <label id="like" class="ok">Like:<span id="value">{{ news.like.all.count }}</span></label>
    <label id="unlike">Unlike:<span id="value">{{ news.unlike.all.count }}</span></label>
</div>