{% extends 'index.html' %}
{% block extrahead %}
    <script type="text/javascript" charset="utf-8" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/ObservablePolygon.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/EditablePolygon.js"></script>
    
    <link rel="stylesheet" href="http://fromvega.com/code/autocomplete/autocomplete.css" type="text/css">
    <script src="http://fromvega.com/code/autocomplete/dimensions.js" type="text/javascript"></script>
    <script src="http://fromvega.com/code/autocomplete/autocomplete.js" type="text/javascript"></script>
    <script type=text/javascript src="{{ STATIC_URL }}js/notification.js"></script>
    <script type=text/javascript src="{{ STATIC_URL }}js/profile.js"></script>
    <script type=text/javascript src="{{ STATIC_URL }}js/widgets.js"></script>
    <script type=text/javascript src="{{ STATIC_URL }}js/streams.js"></script>
    <script type=text/javascript src="{{ STATIC_URL }}js/django-validate.js"></script>
    <script type=text/javascript src="{{ STATIC_URL }}js/clan.js"></script>
    <script type=text/javascript src="{{ STATIC_URL }}js/clan_admin.js"></script>
    <script type=text/javascript src="{{ STATIC_URL }}js/autocomplete_user.js"></script>

{% endblock %}
{% block header %}
    {% include 'user_menu2.html' %}
{% endblock %}

{% block content %}
    <a href="www.outclan.com/external-api/checkin/?username={{ user.username }}&checkin=foo&lng=21.22364552785102&lat=45.746460327062685">
    <div id="map_settings">

    <div id="map_settings_buttons_wrapper" class="clearfix">
 
     
    <div id="map_holder">
        {% include 'map.html' %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#widget').css({'left': '{{ userprofile.widget_left }}px', "top": '{{ userprofile.widget_top }}px'});
                $('map').css('overflow', 'visible')
            });
        </script>
        <div id="widget">

            <div id="widget_money" class="clearfix"><div id="widget_money_icon"></div><div id="widget_money_info">{{ userprofile.money }}</div></div>
            <div id="widget_level" class="clearfix">

                <div id="widget_level_box"><div id="widget_level_box_top">{{ userprofile.lvl }}</div><div id="widget_level_box_bottom">level</div></div>
                <div id="widget_level_stats">

                    <div id="widget_level_checkins">
                        <div id="widget_level_checkins_graph"><img src="{{ STATIC_URL }}img/map_widget/graph_dummy.png"/></div>
                        <div id="widget_level_checkins_graph_info">checkins last 7 days</div>
                    </div>
                    <div id="widget_level_checkins_stats"><ul><li>481 <img src="{{ STATIC_URL }}img/map_widget/checkins.png" /></li><li>244 <img src="{{ STATIC_URL }}img/map_widget/places.png" /></li></ul></div>
                </div>

            </div>
            {% if not my_alliance %}
                <div id="widget_items"><a href="#" id="create-clan">Create Clan (the stupid way)</a></div>
            {% endif %}
        </div>

        <div id="sidebar_left">
            <div class="sidebar_inner">
                <div id="sidebar_left_handle"><img src="{{ STATIC_URL }}img/map_sidebar/settings_sidebar_icon.png" /></div>
                <div id="tools">
                    <input type="button" value="Begin edit" id="begin-edit-btn" />
                    <input type="button" value="End edit" id="end-edit-btn" />
                    <input type="button" value="Get path" id="get-path-btn" />
                </div>
            </div>
        </div>
        <div id="sidebar_right">
            <div class="sidebar_inner">
                <div id="sidebar_right_handle"><img src="{{ STATIC_URL }}img/map_sidebar/widgets_sidebar_icon.png" /></div>
                <span id="add-streams">+
                    <div id="choices" style="display:none">
                        {% if my_alliance and userprofile.clan_stream != 'news' %}
                            <label id="clan-stream-choice">Clan Stream</label>
                        {% endif %}
                    </div>
                </span>
                <div id="stream">
                    {% if userprofile.clan_stream == 'news' %}
                            {% with news as clan_stream %}
                                {% include 'clan_stream.html' %}
                            {% endwith %}
                    {% endif %}
                </div>
                
            </div>

        </div>


    </div>
    
    {% if not my_alliance %}
        <script type=text/javascript>
            $(document).ready(function(){
                $('#create-clan').click(function(){
                    if ( {{ userprofile.lvl }} >= {{ request.environ.CLAN_LVL|default:"1" }} ){
                        if({{ userprofile.money }} >= {{ request.environ.CLAN_MONEY|default:"10" }}){
                            $('#make-clan').modal({
                                opacity:80,
                                overlayCss: {backgroundColor:"#5b5b5b"},
                                minHeight:400,
                                minWidth: 600,
                            });
                            put_users(users, $('#new-recipient'))
                            setAutoComplete("new-recipient", "recipients-results", "/profile/get_users?user=");
                        }else{
                            alert('You must have at least 4000$ in your account!')
                        }
                    }else{
                        alert('You have to be at least lvl 5 to make a clan!')
                    }
                })
            });
        </script>
        <div id="make-clan" style="display: none">
            <form action="{% url alliance.views.create %}" id="make-clan-form">
                <label>clan name</label>
                <div id="general" class=".error"></div>
                <input type="text" id="clan-name" name="name" />
                <button type="submit">Send Request</button>
                {% csrf_token %}
                <br>
            </form>
            <form id="requests">
                <div id="recipients" style="width: 300px">
                    <label>members</label>
                    <input type="text" id="new-recipient" autocomplete="off" />

                </div>
            </form>
        </div>
    {% endif %}
    
    </div>


    </div>
    <div id="replyModalForm" style="display:none">
        <form id="replyForm" action="{% url profile.views.send_message %}" >
            <div id="recipients" style="width: 300px">
                To:
                <input type="text" id="new-recipient" autocomplete="off" />
            </div>
            <textarea id="message"></textarea>
            <button>Send</button><button type="reset">Reset</button>
        </form>
    </div>
{% endblock %}