<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Griddle [beta]</title>
  <meta name="description" content="Griddle is a ... text for description goes here">
  <meta name="author" content="Tim Teen Summerschool Team">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS: implied media="all" -->

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-1.7.min.js"></script>

</head>

<body>

<div id="color_bar"></div>
  <div id="container">
    
    <header class="clearfix">
    <figure id="logo"><a href="main.html"><img src="img/logo.png" alt="griddly"/></a></figure>
    
    <div id="user_menu">
        <figure id="user_photo"><img src="img/avatars/small/arghy.jpg" alt="arghy"/></figure>
        <div id="user_name">Hello,<br/>arghy</div>
        
        
        <div id="subnav_wrap" class="clearfix">
        
     
        <ul id="game_settings">
        <li>Game</li>
        <li>Messages</li>
        <li>Friends</li>
        <li>Battles</li>
        <li>Ceva</li>
        </ul>
        
        <ul id="account_settings">
        <li>Account</li>
        <li>Edit Profile</li>
        <li>Settings</li>
        <li>Invite</li>
        <li><button>Logout</button></li>
        </ul>
        
        </div>      
    
    </div>
    
    <div id="user_notifications_holder"><div id="user_notifications"></div><button id="user_notification">7</button></div>    
    
    
    <nav id="menu">
        <ul id="menu_list">
        <li><a href="#" class="tipsy" title="Game Modes"><img src="img/menu/game_modes.png" /></a></li>
        <li><a href="alliances.html" class="tipsy" title="Alliances"><img src="img/menu/alliances.png" /></a></li>
        <li><a href="ranks.html" class="tipsy" title="Ranks"><img src="img/menu/ranks.png"/></a></li>
        <li><a href="profile.html" title="O sa dispar de aici in curand">Profile</a></li>
        </ul>
    </nav>
    
    </header>
    
    <div id="main" role="main">
	
    
    <div id="map_settings">
    
  
    <button id="map_settings_button_toggle"><img src="img/map/menu/tools.png" alt="tools"/> &nbsp;Tools<br/></button><button id="map_filters_button_toggle"><img src="img/map/menu/settings.png" alt="settings"/> &nbsp;Settings<br/></button>
    
     <form id="map_search">
        <button id="map_search_button"><img src="img/map/menu/search.png" alt="search"/> &nbsp;Search</button>
        <input type="text" value="Location" size="45" id="map_search_box" />
     </form>
    
     
    <div id="map_settings_buttons_wrapper" class="clearfix">
       
     <ul id="map_settings_buttons">
        <li><button>Define Territory</button></li>
        <li><button>Delete Territory</button></li>
        <li><button>Hide Markers</button></li>
        <li><button>Show Markers</button></li>
        <li><button>Delete Markers</button></li>
        </ul>
        
    </div>
    
     <div id="map_filters_buttons_wrapper" class="clearfix">
       
     <ul id="map_filters_buttons">
        <li><button>Animations Off</button></li>
        <li><button>Show Capitals</button></li>
     </ul>
        
    </div>
    
    </div>
    <div id="map">
    <iframe width="980" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=32.748002,86.572266&amp;z=4&amp;output=embed"></iframe>
    </div>
    
    <div id="map_user_info" class="clearfix">
    <div id="user_cash"><img src="img/money.png" alt="coins" /><h4 id="cash">99.999.999.111.780</h4></div>
    <div id="user_time"><h4 id="time">20:41 PM</h4></div>
    </div>
    
    <div id="map_log" class="clearfix">
    
    
    <ul id="map_log_entry_list">
    <li>
        <div class="map_log_entry clearfix">
        
            <div id="map_log_data">
            <h5>IUN 07, 2011</h5>
            <h6><span class="small">at</span> 23:07 PM</h6>
            <div id="map_log_data_avatar"><img src="img/log/log_avatar.png" alt="log_avatar"/></div>
            </div>
            
            <div id="map_log_info">
            
                <div class="map_log_info_header"><div class="map_log_info_header_x"></div>
                Alliance
                </div>
                <div class="map_log_info_content">
                Vlad Temian puked on his T-shirt.
                </div>
                
            </div>
         
         </div> 
     </li>
     <li>
        <div class="map_log_entry clearfix">
        
            <div id="map_log_data">
            <h5>IUN 07, 2011</h5>
            <h6><span class="small">at</span> 23:07 PM</h6>
            <div id="map_log_data_avatar"><img src="img/log/log_avatar.png" alt="log_avatar"/></div>
            </div>
            
            <div id="map_log_info">
            
                <div class="map_log_info_header"><div class="map_log_info_header_x"></div>
                Battle
                </div>
                <div class="map_log_info_content">
                You just lost the battle you stupid asshole. You just lost the battle you stupid asshole. You just lost the battle you stupid asshole. You just lost the battle you stupid asshole. You just lost the battle you stupid asshole.
                </div>
                
            </div>
         
         </div> 
     </li>
     <li>
        <div class="map_log_entry clearfix">
        
            <div id="map_log_data">
            <h5>IUN 07, 2011</h5>
            <h6><span class="small">at</span> 23:07 PM</h6>
            <div id="map_log_data_avatar"><img src="img/log/log_avatar.png" alt="log_avatar"/></div>
            </div>
            
            <div id="map_log_info">
            
                <div class="map_log_info_header"><div class="map_log_info_header_x"></div>
                Alliance
                </div>
                <div class="map_log_info_content">
                Vlad Temian puked on his T-shirt.
                </div>
                
            </div>
         
         </div> 
     </li>
     </ul>
     
     
     </div>   
        
        
    
    </div>
        
    
    </div>
   
    <footer>

    <nav>
    	<a href="#" id="f-home">About / FAQ</a> |
		<a href="#">Blog</a> |
		<a href="#">Contact</a> |
		<a href="#">Terms</a> |
		<a href="#">Privacy</a> |
		<a href="#">API</a> |
		<a href="#">■ The Team</a>
    </nav>
    
    <p>Copyright © 2011 Griddle.</p>
    
    </footer>
    
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <script src="js/mylibs/modal.js"></script>
  <script src="js/mylibs/rotate.js"></script>
  
  
  <!-- end scripts-->x


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
