{% if notification.seen%}
    <li class="clearfix"  id="notification" data-note="{{ notification.id }}">
{% else %}
    <li class="clearfix unseen"  id="notification" data-note="{{ notification.id }}">
{% endif %}

    <div class="notifications_sender">
        <p class="small_avatar welcome_avatar clearfix" style="background-image: url({{ notification.sender.gravatar_url }}?s=38)">
         <img src="{{ notification.sender.gravatar_url }}?s=38" alt="avatar"/></p>
    </div>

    <div class="notifications_info">
        <h5 class="notifications_header">{{ notification.sender.user.username }}</h5>
        <h6 class="notifications_info_text">{{ notification.message }}</h6>
    </div>
     {% if not notification.finished %}
            {% if notification.type == "Friend Request" %}
                 <div class="notifications_buttons">
                    <button class="notification_accept_button" id="accept-friend-request" data-note="{{ notification.id }}"></button>
                    <button class="notification_decline_button" id="decline-friend-request" data-note="{{ notification.id }}"></button>
                 </div>
            {% else %}
                {% if notification.type == "Clan" %}
                        <button class="notification_accept_button" id="accept-clan-request" data-note="{{ notification.id }}"></button>
                        <button class="notification_decline_button" id="decline-clan-request" data-note="{{ notification.id }}"></button>
                {% else %}{% if notification.type == "Message" %}
                   <div class="notifications_buttons">
                    <button class="notification_reply_button" id="reply-btn" data-sender="{{ notification.sender.user.username }}">Reply</button>
                   </div>
                {% endif %}{% endif %}
            {% endif %}
        {% endif %}
</li>
