{% extends 'index.html' %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/django-validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/profile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/get-ranks.js"></script>
{% endblock %}
{% block header %}
    {% include 'user_menu2.html' %}
{% endblock %}

{% block content %}
    <div id="ranks_holder" class="clearfix">
        <ul id="ranks_list"></ul>
    </div>
    
{% endblock %}
