{% for user in users %}

    <li class="clearfix">
        <div class="ranks_list_rank">
            <img src="/static/img/ranks/crown.png" alt="Crown" /><br/>
            <div id="rank-place"></div>
        </div>
        <div class="ranks_list_alliance_info" {% if user == userprofile %}style="border: 1px solid #acc7c4;" {% endif %}>
            <p class="small_avatar ranks_list_alliance_info_avatar clearfix" style="background-image: url('{{ user.gravatar_url }}?s=65')">
           <img src="{{ user.gravatar_url }}?s=65" alt="Avatar" />
            </p>
            <ul class="ranks_list_alliance_stats">
                <li>{{ user.user.username }}</li>
                <li>
                    <ul class="clearfix">
                        <li><b>Level:</b>{{ user.lvl }}</li>
                        {% if user.territory %}
                        <li><b>Territory:</b>{{ user.territory.area }}km<sup>2</sup></li>
                        {% endif %}
                        <li><b>Money:</b> $ {{ user.money }}</li>
                        <li><b>Achievement Points:</b> {{ user.achieve_points }}</li>
                    </ul>
                </li>
            </ul>
            <a href="/profile/{{ user.id }}">View Profile</a>
        </div>
    </li>

{% endfor %}