<div class="territory_widget_territory">

        <div id="territory_widget_atack" class="clearfix">

            <a id="show_venues" href="#">Venues</a>

            <div class="territory_widget_atacker_info clearfix">

                <p>Under atack by </p>

                <p class="small_avatar territory_widget_atack_avatar clearfix" style="background-image: url({{ userprofile.gravatar_url }}?s=30)">
                <a href="/profile/{{ user.id }}"><img src="{{ STATIC_URL }}img/user/default.png" alt="avatar"/></a>
                </p>

                <div id="territory_widget_create_panel"> <button class="territory_widget_create_panel_button">Define</button> <button class="territory_widget_create_panel_button">Create</button> <button class="territory_widget_create_panel_button">Drop</button> </div>

                <div class="territory_widget_venues">

                    <ul>
                        <li class="clearfix"><div class="territory_widget_venues_venue">Mc Donalds</div><div class="territory_widget_venues_venue_loyalty">50%</div></li>
                        <li class="clearfix"><div class="territory_widget_venues_venue">Mc Donalds</div><div class="territory_widget_venues_venue_loyalty">50%</div></li>
                        <li class="clearfix"><div class="territory_widget_venues_venue">Mc Donalds</div><div class="territory_widget_venues_venue_loyalty">50%</div></li>
                        <li class="clearfix"><div class="territory_widget_venues_venue">Mc Donalds</div><div class="territory_widget_venues_venue_loyalty">50%</div></li>
                    </ul>

                </div>

            </div>

        </div>
        <div id="territory_widget_stats" class="clearfix">
            <ul><li>Level: 10</li><li>Venues: 20</li></ul>
            <div id="territory_widget_level_box"><div id="territory_widget_level_box_top">+1</div><div id="territory_widget_level_box_bottom">upgrade</div></div>
        </div>

        <ul id="territory_widget_checkins" class="clearfix">

            <li>Territory Stats</li>
            
            <li class="clearfix">
               <p class="small_avatar territory_widget_stats_avatar clearfix" style="background-image: url({{ userprofile.gravatar_url }}?s=30)">
                    <a href="/profile/{{ user.id }}"><img src="{{ STATIC_URL }}img/user/default.png" alt="avatar"/></a>
               </p>

               <ul><li>@ View Caffe</li><li>6:02 PM 22/9/2011</li></ul>

               <div class="territory_widget_checkins_profit">+111 <img src="{{ STATIC_URL }}img/map_widget/money.png" alt="avatar"/></div>
            </li>

             <li class="clearfix">
               <p class="small_avatar territory_widget_stats_avatar clearfix" style="background-image: url({{ userprofile.gravatar_url }}?s=30)">
                    <a href="/profile/{{ user.id }}"><img src="{{ STATIC_URL }}img/user/default.png" alt="avatar"/></a>
               </p>

               <ul><li>@ View Caffe</li><li>6:02 PM 22/9/2011</li></ul>

               <div class="territory_widget_checkins_profit">+111 <img src="{{ STATIC_URL }}img/map_widget/money.png" alt="avatar"/></div>
            </li>

             <li class="clearfix">
               <p class="small_avatar territory_widget_stats_avatar clearfix" style="background-image: url({{ userprofile.gravatar_url }}?s=30)">
                    <a href="/profile/{{ user.id }}"><img src="{{ STATIC_URL }}img/user/default.png" alt="avatar"/></a>
               </p>

               <ul><li>@ View Caffe</li><li>6:02 PM 22/9/2011</li></ul>

               <div class="territory_widget_checkins_profit">+111 <img src="{{ STATIC_URL }}img/map_widget/money.png" alt="avatar"/></div>
            </li>

             <li class="clearfix">
               <p class="small_avatar territory_widget_stats_avatar clearfix" style="background-image: url({{ userprofile.gravatar_url }}?s=30)">
                    <a href="/profile/{{ user.id }}"><img src="{{ STATIC_URL }}img/user/default.png" alt="avatar"/></a>
               </p>

               <ul><li>@ View Caffe</li><li>6:02 PM 22/9/2011</li></ul>

               <div class="territory_widget_checkins_profit">+111 <img src="{{ STATIC_URL }}img/map_widget/money.png" alt="avatar"/></div>
            </li>

             <li class="clearfix">
               <p class="small_avatar territory_widget_stats_avatar clearfix" style="background-image: url({{ userprofile.gravatar_url }}?s=30)">
                    <a href="/profile/{{ user.id }}"><img src="{{ STATIC_URL }}img/user/default.png" alt="avatar"/></a>
               </p>

               <ul><li>@ View Caffe</li><li>6:02 PM 22/9/2011</li></ul>

               <div class="territory_widget_checkins_profit">+111 <img src="{{ STATIC_URL }}img/map_widget/money.png" alt="avatar"/></div>
            </li>

        </ul>

        <div id="show_checkins" class="territory_widget_checkins_button"><a href="#">Show Territory Stats</a></div>

 </div>