<script type="text/javascript" charset="utf-8" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>

<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/ObservablePolygon.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/EditablePolygon.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/CheckinOverlay.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/warRequest.js"></script>

<script type="text/javascript" charset="utf-8">
    if (!Function.prototype.bind) {
        Function.prototype.bind = function (scope) {
            var me = this, args = arguments.length > 1 ? Array.prototype.slice(arguments, 1) : null;

            return function () {
                me.apply(scope, args ? args.concat(Array.prototype.slice.call(arguments, 0)) : arguments);
            };
        };
    }
</script>

<script type="text/javascript" charset="utf-8">
    var app = {
        initializeMap: function () {
            this.bodyEl = $(document);
            this.mapEl = $("#map");

            this.mapEl.width(this.bodyEl.width());
            this.mapEl.height(this.bodyEl.height() - 163);

            this.map = new google.maps.Map(this.mapEl[0], {
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: new google.maps.LatLng(0, 0)
            });

            var map = this.map

            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                      map.setCenter(initialLocation);
                });
            } else if (google.gears) {
                var geo = google.gears.factory.create('beta.geolocation');
                geo.getCurrentPosition(function(position) {
                  initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
                  map.setCenter(initialLocation);
                });
            } else {
                console.log('Your location sucks')
                //TODO: get user location in another way
            }
            
        },

        launch: function () {
            var me = this;
            map = this.map
            this.initializeMap();
            var points = new Array();
            this.territoryArray = new Array();
        
            {% for territory in territories %}
                var path = new google.maps.MVCArray();

                    {% for point in territory.points.all %}
                        path.push(new google.maps.LatLng({{ point.lat }}, {{ point.lng }}));
                    {% endfor %}

                this.place = new google.maps.ObservablePolygon({
                    paths: path,
                    strokeColor: "{{ territory.color }}",
                    strokeWeight: 2,
                    fillColor: "{{ territory.color }}",

                    handleImage: "{{ STATIC_URL }}img/handle.png"
                });
                    var war = '';
                    {% if not war  %}
                        war = "<span id='warRequest' data-username='{{ territory.owner.user.username }}' data-id='{{ territory.id }}'>War Request</span>";
                    {% endif %}

                    var id = "{{ territory.id }}";
                   
                    var name = '<br><span id="territoryName">{{ territory.name }}</span>';
                    var owner = '<br><span id="territoryOwnerName">{{ territory.owner.user.username }}</span>';
                    var avatar = '<br><span id="territoryOwnerImg"><img src={{ territory.owner.gravatar_url }}?s=50 title="{{ territory.owneruser.username }}"></span>'

                    $div = "<div style='background:red; display:none;' id='"+id+"' class='{{ territory.owner.user.username }}'>" +
                             war + name + avatar + owner 
                            +"</div>";

                        

                    $('#map').after($div)

                    google.maps.event.addListener(this.place, 'click', function(e) {
                        $('#{{ territory.id }}').modal({
                            opacity:80,
                            overlayCss: {backgroundColor:"#5b5b5b"},
                            minHeight:400,
                            minWidth: 600,

                        });
                    });

                this.place.setMap(this.map);
            {% endfor %}

            {% if my_territory %}
                {% for territory in my_territory %}
                    var path = new google.maps.MVCArray();
                    {% for point in territory.points.all %}
                        path.push(new google.maps.LatLng({{ point.lat }}, {{ point.lng }}));
                    {% endfor %}
                    this.place = new google.maps.EditablePolygon({
                        strokeColor: "{{ territory.color }}",
                        strokeWeight: 2,
                        fillColor: "{{ territory.color }}",
                        handleImage: "{{ STATIC_URL }}img/handle.png",

                    });
                    var id = {{ territory.id }};
                    this.place.setMap(this.map);
                    this.place.setPaths(path)
                    this.territoryArray[id] = this.place;
                    console.log(this.territoryArray[id])
                {% endfor %}

            {% else %}
                this.place = new google.maps.EditablePolygon({
                    strokeColor: "orange",
                    strokeWeight: 2,
                    fillColor: "yellow",
    
                    handleImage: "{{ STATIC_URL }}img/handle.png"
                });
            {% endif %}

            this.place.setMap(this.map);
            
            $("#begin-edit-btn").click(function () {
                me.place.beginEdit()
            });

            $("#end-edit-btn").click(function () {
                var points = new Array();
                var firstPoint = null;
                var path = me.place.getPath().getArray().map(function (p) {
                    points.push(p)
                    return p.lat() + ',' + p.lng();
                }).join("; ");
                var ok = false;
                var venues = ""
                $.post('{% url territory.views.verify_territory %}', {'path': path }, function(data){
                    var obj = jQuery.parseJSON(data)
                    if(obj.error == undefined){
                        var locations = obj.locations
                        $.each(locations, function(index, value){
                            value = jQuery.parseJSON(value)
                            if(me.place.contains(value.lat, value.lng)){
                                ok = true;
                                venues += value.lat + ','+value.lng + ';'
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(value.lat, value.lng),
                                    title:""
                                });
                                marker.setMap(me.map)
                            }
                        });
                        if(ok){
                            var area = google.maps.geometry.spherical.computeArea(points);
                            $.post('{% url territory.views.create_territory %}', {'path': path, 'area': area, 'locations': venues}, function(data){
                                var obj = JSON.parse(data)
                                if(obj.nice != undefined){
                                    $('#notifications_bar').html(obj.nice).slideDown(200).delay(1000).slideUp(200);
                                    me.place.endEdit()
                                    get_territory(obj.id, $('#territory_loader'));
                                    $('#territory_widget_tabs').append('<li id="territoryID" data-id="'+obj.id+'"><form action="/territory/name" id="territoryName"><input type="text" name="name" id="territoryName" placeholder="Put a name" /><input type="hidden" name="id" id="territoryId" value="'+obj.id+'"></form></li>')
                                    $('#territory_widget_create_panel').remove();
                                }else{
                                    $('#notifications_bar').html(obj.error).slideDown(200).delay(1000).slideUp(200);
                                }
                            })
                        }
                    }else{
                        $('#notifications_bar').html(obj.error).slideDown(200).delay(1000).slideUp(200);
                    }
                })

            });
        }
    };

    $(app.launch.bind(app));

    $(document).ready(function(){
        $('#map').css('position', 'obsolute');
        
        $('#territoryName').live('submit', function(){
            var $this = $(this);
            validate($(this), function(data){
                var  $li = $this.parent();
                var name = $('#territoryName', $this).val();

                var $html = name + '<span id="editName">Edit</span>';
                $this.parent().data('name', name);
                $this.parent().html($html);
            });
            return false;
        });
        $('#editName').live('click', function(){
            var $li = '<form action="/territory/name" id="territoryName"><input type="text" name="name" id="territoryName" placeholder="'+$(this).parent().data('name')+'" /><input type="hidden" name="id" id="territoryId" value="'+$(this).parent().data('id')+'"></form></li>';
            $(this).parent().html($li);

        })
        socket.on('checkin', function(data){
            var message = "<div class='checkin_overlay clearfix' id='messageDiv'>\
                <div class='checkin_overlay_marker'>\
                     <p class='checkin_avatar clearfix' style='background-image:url("+data.gravatar_url+"?s=45)'>\
                        <img src='"+data.gravatar_url+"?s=45' alt='avatar'/>\
                     </p>\
                </div>\
                <div class='checkin_overlay_info'>\
                    <ul>\
                        <li>Checked in at: "+data.locationName+"</li>\
                       <li>45 minutes ago</li>\
                    </ul>\
                </div>\
            </div>";
            
            point = new google.maps.LatLng(data.locationLat, data.locationLng)
            console.log(message)
            new CheckinOverlay(message, point, app.map, 500, 80);

            app.map.setCenter(point, 17)
        });

        $.get('/location/get-locations', {'lat': app.map.getCenter().lat(), 'lng': app.map.getCenter().lng()}, function(data){
            var obj = $.parseJSON(data);
            var locations = obj.locations
            $.each(locations, function(index, value){
                console.log(value)
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(value.lat, value.lng),
                    title:value.name
                });
                marker.setMap(app.map)
            })
        })
    })
</script>

<div id="map"></div>